gamecontainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
gameelement {
  position: absolute;
  display: block;
  height: 300px;
  width: 300px;
  background-size: contain;
}
