gamecontainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
gameelement {
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}
